# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The cloud-libraries-dotnet is the default owner for anything not
# explicitly taken by someone else.
*                                   @googleapis/cloud-sdk-dotnet-team

/apis/Google.Cloud.Bigtable*/       @googleapis/bigtable-team @googleapis/cloud-sdk-dotnet-team
/apis/Google.Cloud.Storage*/        @googleapis/gcs-team @googleapis/cloud-sdk-dotnet-team
/apis/Google.Cloud.BigQuery*/.      @googleapis/bigquery-team @googleapis/cloud-sdk-dotnet-team
/apis/Google.Cloud.PubSub*/.        @googleapis/pubsub-team @googleapis/cloud-sdk-dotnet-team
