.vs
*.pyc
*.user
obj
bin
project.lock.json
_site
site
external
output
*~
.cr
packages
coverage
releasebuild

# Used when generating APIs
tmp
googleapis
toolkit

# Testing
integrationprogress.txt
results.xml

# Speech language codes temporary output
language-codes.tmp.txt
