language: csharp

dist: trusty

mono:
  - latest

install:
  - sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
  - sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893
  - sudo apt-get -qq update
  - sudo apt-get install -qq dotnet-dev-1.0.0-preview2-003121

script:
  - dotnet restore
  - dotnet build src/Google*
  - dotnet build test/Google*
  - dotnet build tools/Google*
  - dotnet build snippets/Google*
  - cd test; for project in *.Tests; do DIR=$project/bin/Debug/net451/ubuntu.14.04-x64; mono $DIR/dotnet-test-xunit.exe $DIR/$project.dll; done
  - cd ..; for project in Google.Storage.V1.Tests Google.Bigquery.V2.Tests; do dotnet test -f netcoreapp1.0 test/$project; done
