<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGet google-dotnet-public" value="https://www.myget.org/F/google-dotnet-public/api/v3/index.json" />
  </packageSources>
</configuration>
