<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.CommonProtos" version="1.0.0-beta03" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.0.0" targetFramework="net45" />
  <package id="Grpc.Core" version="1.0.0" targetFramework="net45" />
  <package id="NAudio" version="1.7.3" targetFramework="net45" />
  <package id="System.Interactive.Async" version="3.0.0" targetFramework="net45" />
</packages>