<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net452" />
  <package id="Google.Api.CommonProtos" version="1.0.0" targetFramework="net452" />
  <package id="Google.Api.Gax" version="1.0.1" targetFramework="net452" />
  <package id="Google.Api.Gax.Grpc" version="1.0.1" targetFramework="net452" />
  <package id="Google.Apis" version="1.24.1" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.24.1" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.24.1" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.2.0" targetFramework="net452" />
  <package id="Grpc.Auth" version="1.2.2" targetFramework="net452" />
  <package id="Grpc.Core" version="1.2.2" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>