name: Build push

on:
  push:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          6.0.x
          8.0.x

    - name: Build and test
      run: |
        dotnet --info
        touch build_timing_log.txt
        ./build.sh
        ./processbuildtiminglog.sh
